{% extends 'base.html' %}
{% load static %}
        {% block content %}
        <div class="row">
            <div class="col-md-3 grid-margin stretch-card">
              <h2>Type your keywords here: </h2> 
            </div>
            <div class="col-md-4 grid-margin stretch-card">
              <input id='newkeyword' class="form-control border-0" placeholder="Keyword" type="text" style="margin-left: 10px;">
            </div>
            <div class="col-md-2 grid-margin stretch-card">
              <button class="btn" onclick="submitKeyword()">Submit</button>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <h2>Showing links recommendation based on the following trending keywords: </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <h4 id="keywords_list"></h4>
          </div>
        </div>
            <div class="row">
                <div class="col-md-4 grid-margin stretch-card">
                  <div class="card">
                    <div class="news-card card-body">
                        <a href="#" class="news-url">
                            <h4 class="news-title card-title">Loading news title..</h4>
                            <img class="news-image" src="#" alt="Loading news image.." style="width: 100%;">
                        </a>
                        <p class="news-description"></p>
                        <span class="news-author"></span>
                        <span class="news-source"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">
                  <div class="card">
                    <div class="news-card card-body">
                        <a href="#" class="news-url">
                            <h4 class="news-title card-title">Loading news title..</h4>
                            <img class="news-image" src="#" alt="Loading news image.." style="width: 100%;">
                        </a>
                        <p class="news-description"></p>
                        <span class="news-author"></span>
                        <span class="news-source"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">
                  <div class="card">
                    <div class="news-card card-body">
                        <a href="#" class="news-url">
                            <h4 class="news-title card-title">Loading news title..</h4>
                            <img class="news-image" src="#" alt="Loading news image.." style="width: 100%;">
                        </a>
                        <p class="news-description"></p>
                        <span class="news-author"></span>
                        <span class="news-source"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">
                  <div class="card">
                    <div class="news-card card-body">
                        <a href="#" class="news-url">
                            <h4 class="news-title card-title">Loading news title..</h4>
                            <img class="news-image" src="#" alt="Loading news image.." style="width: 100%;">
                        </a>
                        <p class="news-description"></p>
                        <span class="news-author"></span>
                        <span class="news-source"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">
                  <div class="card">
                    <div class="news-card card-body">
                        <a href="#" class="news-url">
                            <h4 class="news-title card-title">Loading news title..</h4>
                            <img class="news-image" src="#" alt="Loading news image.." style="width: 100%;">
                        </a>
                        <p class="news-description"></p>
                        <span class="news-author"></span>
                        <span class="news-source"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">
                  <div class="card">
                    <div class="news-card card-body">
                        <a href="#" class="news-url">
                            <h4 class="news-title card-title">Loading news title..</h4>
                            <img class="news-image" src="#" alt="Loading news image.." style="width: 100%;">
                        </a>
                        <p class="news-description"></p>
                        <span class="news-author"></span>
                        <span class="news-source"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">
                  <div class="card">
                    <div class="news-card card-body">
                        <a href="#" class="news-url">
                            <h4 class="news-title card-title">Loading news title..</h4>
                            <img class="news-image" src="#" alt="Loading news image.." style="width: 100%;">
                        </a>
                        <p class="news-description"></p>
                        <span class="news-author"></span>
                        <span class="news-source"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">
                  <div class="card">
                    <div class="news-card card-body">
                        <a href="#" class="news-url">
                            <h4 class="news-title card-title">Loading news title..</h4>
                            <img class="news-image" src="#" alt="Loading news image.." style="width: 100%;">
                        </a>
                        <p class="news-description"></p>
                        <span class="news-author"></span>
                        <span class="news-source"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">
                  <div class="card">
                    <div class="news-card card-body">
                        <a href="#" class="news-url">
                            <h4 class="news-title card-title">Loading news title..</h4>
                            <img class="news-image" src="#" alt="Loading news image.." style="width: 100%;">
                        </a>
                        <p class="news-description"></p>
                        <span class="news-author"></span>
                        <span class="news-source"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">
                  <div class="card">
                    <div class="news-card card-body">
                        <a href="#" class="news-url">
                            <h4 class="news-title card-title">Loading news title..</h4>
                            <img class="news-image" src="#" alt="Loading news image.." style="width: 100%;">
                        </a>
                        <p class="news-description"></p>
                        <span class="news-author"></span>
                        <span class="news-source"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">
                  <div class="card">
                    <div class="news-card card-body">
                        <a href="#" class="news-url">
                            <h4 class="news-title card-title">Loading news title..</h4>
                            <img class="news-image" src="#" alt="Loading news image.." style="width: 100%;">
                        </a>
                        <p class="news-description"></p>
                        <span class="news-author"></span>
                        <span class="news-source"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">
                  <div class="card">
                    <div class="news-card card-body">
                        <a href="#" class="news-url">
                            <h4 class="news-title card-title">Loading news title..</h4>
                            <img class="news-image" src="#" alt="Loading news image.." style="width: 100%;">
                        </a>
                        <p class="news-description"></p>
                        <span class="news-author"></span>
                        <span class="news-source"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">
                  <div class="card">
                    <div class="news-card card-body">
                        <a href="#" class="news-url">
                            <h4 class="news-title card-title">Loading news title..</h4>
                            <img class="news-image" src="#" alt="Loading news image.." style="width: 100%;">
                        </a>
                        <p class="news-description"></p>
                        <span class="news-author"></span>
                        <span class="news-source"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">
                  <div class="card">
                    <div class="news-card card-body">
                        <a href="#" class="news-url">
                            <h4 class="news-title card-title">Loading news title..</h4>
                            <img class="news-image" src="#" alt="Loading news image.." style="width: 100%;">
                        </a>
                        <p class="news-description"></p>
                        <span class="news-author"></span>
                        <span class="news-source"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">
                  <div class="card">
                    <div class="news-card card-body">
                        <a href="#" class="news-url">
                            <h4 class="news-title card-title">Loading news title..</h4>
                            <img class="news-image" src="#" alt="Loading news image.." style="width: 100%;">
                        </a>
                        <p class="news-description"></p>
                        <span class="news-author"></span>
                        <span class="news-source"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">
                  <div class="card">
                    <div class="news-card card-body">
                        <a href="#" class="news-url">
                            <h4 class="news-title card-title">Loading news title..</h4>
                            <img class="news-image" src="#" alt="Loading news image.." style="width: 100%;">
                        </a>
                        <p class="news-description"></p>
                        <span class="news-author"></span>
                        <span class="news-source"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">
                  <div class="card">
                    <div class="news-card card-body">
                        <a href="#" class="news-url">
                            <h4 class="news-title card-title">Loading news title..</h4>
                            <img class="news-image" src="#" alt="Loading news image.." style="width: 100%;">
                        </a>
                        <p class="news-description"></p>
                        <span class="news-author"></span>
                        <span class="news-source"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">
                  <div class="card">
                    <div class="news-card card-body">
                        <a href="#" class="news-url">
                            <h4 class="news-title card-title">Loading news title..</h4>
                            <img class="news-image" src="#" alt="Loading news image.." style="width: 100%;">
                        </a>
                        <p class="news-description"></p>
                        <span class="news-author"></span>
                        <span class="news-source"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">
                  <div class="card">
                    <div class="news-card card-body">
                        <a href="#" class="news-url">
                            <h4 class="news-title card-title">Loading news title..</h4>
                            <img class="news-image" src="#" alt="Loading news image.." style="width: 100%;">
                        </a>
                        <p class="news-description"></p>
                        <span class="news-author"></span>
                        <span class="news-source"></span>
                    </div>
                  </div>
                </div>
            </div>
    {% endblock %}

    {% block scripts %}
    <script>
        function showNews(category) {
            var result = null;
            $.get( "/news/q/" + category, function( data ) {
                result = data;
                console.log(result);
                for (a of result){
                    $('.news-url').eq(result.indexOf(a)).attr('href', result[result.indexOf(a)].url)
                    $('.news-title').eq(result.indexOf(a)).html(result[result.indexOf(a)].title)
                    $('.news-description').eq(result.indexOf(a)).html(result[result.indexOf(a)].description)
                    $('.news-image').eq(result.indexOf(a)).attr('src', result[result.indexOf(a)].image)
                    $('.news-author').eq(result.indexOf(a)).html(result[result.indexOf(a)].author)
                    $('.news-source').eq(result.indexOf(a)).html(result[result.indexOf(a)].source.name)
                }
                for (i=result.length; i<20; i++) {
                    $('.news-card').eq(i).parent().parent().hide();
                }
            });
        }
        
        showNews('photography');

        function showKeywords(keyword) {
            var result = null;
            $.get( "/related-topics/" + keyword, function( data ) {
                result = data;
                console.log(result);
                var keywords_list = '';
                var i = 0;
                while(result[i]) {
                    keywords_list += ' - ' + result[i];
                    i++;
                }
                $('#keywords_list').html(keywords_list);
            });
        }

        showKeywords('photography')

        function submitKeyword() {
            var new_keyword = $('#newkeyword').val()
            showNews(new_keyword);
            showKeywords(new_keyword);
        }
    </script>
    {% endblock %}
